<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Add Book</title>
  {{ bootstrap.load_css() }}
</head>

<body>
  <div class="container" style="text-align: center;">
    <div class="row">
        <form action="" method="POST">
          <label>Book Name</label>
          <input name="title" type="text" /><br>
          <label>Book Author</label>
          <input name="author" type="text" /><br>
          <label>Rating</label>
          <input name="rating" type="text" /><br>
          <button type="submit">Add Book</button>
        </form>
    </div>
  </div>
</body>

</html>