<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit</title>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="container">
    <form action="{{ url_for('edit') }}" method="POST">
      <p>Book Name: {{book.title}}</p>
      <p>Current rating: {{book.rating}}</p>
      <input hidden="hidden" name="id" value="{{book.id}}">
      <input name="rating" type="text" placeholder="New Rating">
      <button type="submit">Change Rating</button>
      </p>
    </form>
  </div>
  </body>
</html>
