<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html Forms</title>
</head>
<body>
    <h1>It Works!</h1>
    <br>
    <form action="{{ url_for('login') }}" method="post">
        <label>Name: </label>
        <input type="text" name="username" placeholder="name">
        <label>Password: </label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Ok">
    </form>
</body>
</html>