body {
    background-color: blanchedalmond;
}
h1 {
    color: blue;
}
li {
    font-size: 18px;
}
.titles {
    color: yellowgreen;
}
a {
    text-decoration: none;
    font-size: 18px;
}