{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}login{% endblock %}
{% block content %}
	<div class="container">
		<h1>Login</h1>
			{{ render_form(form) }}
	</div>
{% endblock %}

	<!-- Old Code -->
	<!-- This is where our form will go. -->
	<!-- <form action="{{ url_for( 'login') }}" method="post" novalidate>
		{{ form.csrf_token}}
		<p>
			{{ form.email.label }}<br>{{ form.email(size=30) }}
			{% for err in form.email.errors %}
			<span style="color:red">{{ err }}</span>
			{% endfor %}
			</p>
			<p>
				{{ form.password.label }}<br>{{ form.password(size=30) }}
				{% for err in form.password.errors %}
				<span style="color:red">{{ err }}</span>
				{% endfor %}
			</p>
			<p>
				{{ form.submit }}
			</p>
		</form> 
	</div> -->
